body
{
text-align: center;


}

.home img{
    width: 100%;
}

.nav{
    background-color:rgb(235, 231, 232);
    display: inline-flex;
     width: 100%;
}

.nav a{
    position: relative;
    left: 250px;
}
.nav a img{
    position: relative;
    right:40px;
}

.nav ul{
    position: relative;
    left: 310px;
    word-spacing:50px;
}

.footer{
    background-color:rgb(235, 231, 232);
    display: inline-flex;
    width: 100%;
}

.footer img{    
    position: relative;
    left:800px;
    width:30%;
}

.newfoot{
    margin:2%;
    position: relative;
    text-align: left;
    right:230px;
}
.twist{
    color:rgb(227, 42, 98);
    size: 30px;
}

.last{
    background-color: rgb(200, 193, 13);
    color: rgb(235, 231, 232);
    padding: 30px;
    word-spacing: 30px;
}

.end
{
    background-color:rgb(227, 42, 98);
    color: rgb(235, 231, 232);
    padding: 50px;
   
}